/* 전표 목록 css */
#slips {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#slips > .tbl-box {
  height: 50rem;
}

#slip-table {
  border-collapse: collapse;
  width: 100%;
}

#slip-table thead tr th {
  padding: 1rem 0;
  font-size: 1.6rem;
  border: 0.1rem solid #000;
}

#slip-table thead .seq {
  width: 5%;
}

#slip-table thead .type {
  width: 15%;
}

#slip-table thead .sup-date {
  width: 15%;
}

#slip-table thead .reg-date {
  width: 15%;
}
