#act-reg-tbl tbody tr > th {
  font-size: 1.4rem;
  font-weight: 600;
}

#act-reg-tbl tbody tr.category > th {
  width: 25%;
}

#act-reg-tbl tbody tr > td {
  padding: 1rem;
}

#act-reg-tbl tbody tr > td.select-td > select {
  display: block;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 1.3rem;
  border: none;
  border-bottom: 0.1rem solid #ddd;
}

#act-reg-tbl tbody > tr:nth-child(2) th:nth-child(3) {
  width: 25%;
}

#act-reg-tbl tbody > tr:nth-child(n + 1) td > input {
  padding: 0.2rem 1rem;
  border: none;
  border-bottom: 0.1rem solid #ddd;
  width: 90%;
}
