#sply-tbl {
  border-collapse: collapse;
  width: 100%;
}

/* #sply-tbl thead th {
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
} */

#sply-tbl thead .check {
  width: 1%;
}

#sply-tbl thead .seq {
  width: 5%;
}

#sply-tbl thead .name {
  width: 50%;
}

#sply-tbl thead .repr {
  width: 25%;
}

#sply-tbl thead .reg-dttm {
  width: 20%;
}
