.tab {
  display: flex;
  margin-bottom: 3rem;
}

.tab > li {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.5s;
}

.tab > li:hover {
  border-bottom: 0.1rem solid rgba(0, 0, 255, 0.3);
}

.tab > li.on {
  border-bottom: 0.1rem solid rgba(0, 0, 255, 0.3);
  color: rgba(0, 0, 255, 0.3);
}
