#close-dlog {
  font-size: 2rem;
  cursor: pointer;
}

#dialog-body .content > p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  white-space: pre-line;
  line-height: 1.6em;
}

#dialog-footer .btn-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#dialog-footer .btn-box > button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 20%;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

#dialog-footer .btn-box > .ok {
  background-color: #f00;
  color: #fff;
}
