#dialog-body .content > p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  white-space: pre-line;
  line-height: 1.6em;
}

/* #dialog-footer .btn-box > .ok {
  background-color: #f00;
  color: #fff;
} */
