/* 스크롤 */
.scroll-bar {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-bar::-webkit-scrollbar {
  overflow-y: scroll;
  display: none;
}

/* 테이블  */
.slip-bg-color {
  background-color: rgba(0, 255, 255, 0.09);
}

.slip-head-color,
.tbl-head-color {
  background-color: #f9f9f9;
}

/* 다이얼로그  */
#dialog-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: none;
}

#dialog-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 0.1rem solid #ddd;
}

#dialog-body {
  padding: 1rem;
  border-bottom: 0.1rem solid #ddd;
}

#dialog-body .content {
  padding: 1.5rem 0;
}

#dialog-footer {
  padding: 1rem;
}

#close-dlog {
  font-size: 2rem;
  cursor: pointer;
}

#dialog-footer .btn-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#dialog-footer .btn-box > button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 20%;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
