#slip-page .select-stt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid #ddd;
  margin-bottom: 3rem;
}

#slip-page .stt-panel {
  padding: 2rem 0;
}

#slip-page .tab {
  display: flex;
  margin-bottom: 3rem;
}

#slip-page .tab > li {
  padding: 0 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

#slip-page .tab > li:first-child {
  border-right: 0.1rem solid #ddd;
}
