#slip {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

#slip thead tr th {
  padding: 1.4rem 0;
  font-size: 1.6rem;
}

#slip thead tr td {
  padding: 0 2.5rem;
}

#slip thead tr input {
  padding: 0.5rem 1rem;
  width: 100%;
  font-weight: 600;
  font-size: 1.6rem;
}

#slip tbody tr th.subject,
#slip tbody tr th.entry {
  padding: 1.5rem 0;
  width: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

#slip tbody tr td.subject-item,
#slip tbody tr td.entry-item {
  padding: 1.3rem 1rem;
  width: 10rem;
  font-size: 1.6rem;
}

#slip tbody .sub-head th {
  padding: 1.3rem 0;
  font-size: 1.6rem;
}

#slip tbody .content td {
  padding: 1.3rem 1rem;
}

#slip th,
#slip td {
  border: 1px solid #000;
}

.slip-head-color {
  background-color: #f9f9f9;
}

.slip-input {
  padding: 0.5rem 1rem;
  width: 100%;
}
