#slip {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

#slip tbody tr .credit,
#slip tbody tr .debit {
  padding: 1.5rem 1rem;
  width: 25rem;
}

#slip tbody tr td input {
  padding: 0.5rem 1rem;
  width: 100%;
}

#slip thead tr .delete {
  width: 5rem;
}

#slip tbody #remove-icon {
  margin: 0 auto;
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
}
